@import "@stein197/react-ui/index";
@import "@stein197/css-reset/index";
@import "bootstrap/dist/css/bootstrap.min";

html,
body,
main {
	min-height: 100vh;
}

.h-full {
	height: 100vh;
}

.control {
	$border-width: 5px;

	&::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		bottom: 0;
		width: 100%;
		height: $border-width;
		background-color: dodgerblue;
		transform: scaleX(0);
		transition: transform .5s linear;
	}

	&.focus::after {
		transform: scaleX(1);
	}

	input {
		border-bottom: $border-width solid lightgray;
		animation: name duration timing-function delay iteration-count direction fill-mode;
	}
}
