@import "@stein197/react-ui/index";
@import "@stein197/css-reset/index";
@import "bootstrap/dist/css/bootstrap.min";

* {
	flex-wrap: nowrap;
}

html,
body,
main {
	min-height: 100vh;
}

.h-full {
	height: 100vh;
}

.overflow-y-scroll {
	overflow-y: scroll;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.btn:hover {
	transform: scale(1.05);
}

.btn:active {
	transform: scale(.95);
}
